#main {
    background: linear-gradient(45deg, #0f6cd6, #0f1cd6, red)
}

.header {
    display: grid;
    width: 100%;
}

.header1 {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: -25px;
    margin-bottom: -25px;
    font-size: 75px;
}

/* .header2 {
    display: flex;
    justify-content: center; 
} */

git TEst

.headerpics {
    display: flex;
    justify-content: space-around;
    opacity: .8;
  
}

.pic1 {
    width: 850px;
    border: 2px solid red;
    border-radius: 5px;
}

.pic2 {
    width: 850px;
    border: 2px solid red;
    border-radius:5px;
}
.factshead {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.facts {
    display:grid;
    justify-content: center;
    font-size: 25px;
}